* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Lexend";
    font-size: 1em;
}
.main {
    display: grid;
}
.characterSelectionBox {
    display: flex;
    justify-content: center;
    margin: 1%;
}
.languageSelectionBox {
    display: flex;
    justify-content: center;
    margin: 1%;
}
select {
    font-family: "Roboto Serif - medium";
    font-size: 1em;
    color: #980000;
}
.masteryContainer {
    /* grid-column: 1/3; */
    display: grid;
    padding: 0px;
    margin: 0.5%
}
.masteryBlock {
    padding: 0.5%;
    border-radius: 7px;
    margin: 0.5%;
    display: grid;
}
.masteryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend";
    font-size: 1em;
}
.masteryTitle > * {
    margin-left: 1%;
    margin-right: 1%;
}
.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.masteryBranches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8em;
}
.skillBlock {
    min-height: 30px;
    min-width: 30%;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 7px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr auto;
}
.skillBlock > div {
    display: flex;
    justify-content: center;
}
.skillName {
    text-align: center;
    grid-row-start: 1;
    grid-column: 1/5;
    /* z-index: -1; */
}
.skillValue {
    grid-row-start: 2;
    grid-column: 2/4;
}
.arrowLeft {
    grid-column-start: 1;
    grid-row: 1/3;
    justify-content: flex-start;
}
.arrowRight {
    grid-column-start: 4;
    grid-row: 1/3;
    justify-content: flex-end;
}
.arrowLeft, .arrowRight {
    display: flex;
    border: solid rgba(255, 255, 255, 0);
    z-index: 5;
    align-items: flex-end;
    color: white;
    transition-duration: 0.4;
}
.arrowLeft:hover, .arrowRight:hover {
    background-color: rgba(255, 255, 255, 1);
    border: solid black;
    color: black
}
.Greed {
    background: RGBA(112,56,56,0.2);
    border-style: solid;
    border-color: RGB(112,56,56);
}
.Greed .masteryBranches span {
    background: RGBA(112,56,56,0.5);
    color: white
}
.Greed .masteryBranches span.active {
    background: RGBA(112,56,56,1);
}
.Greed .masteryBranches span.active > button {
    background-color: RGBA(0,0,0,0.2);
}
.Greed .masteryBranches button {
    background: RGBA(112,56,56,0.2);
    color: white
}
.Greed .masteryBranches button:hover {
    background: RGBA(112,56,56,0.8)
}
.Mastermind {
    background: RGBA(45,60,80,0.2);
    border-style: solid;
    border-color: RGB(45,60,80);
}
.Mastermind .masteryBranches span {
    background: RGBA(45,60,80,0.5);
    color: white
}
.Mastermind .masteryBranches span.active {
    background: RGBA(45,60,80,1);
}
.Mastermind .masteryBranches span.active > button {
    background-color: RGBA(0,0,0,0.2);
}
.Mastermind .masteryBranches button {
    background: RGBA(45,60,80,0.2);
}
.Mastermind .masteryBranches button:hover {
    background: RGBA(45,60,80,0.8);
}
.Resistance {
    background: RGBA(55,85,60,0.2);
    border-style: solid;
    border-color: RGB(55,85,60);
}
.Resistance .masteryBranches span {
    background: RGBA(55,85,60,0.5);
    color: white
}
.Resistance .masteryBranches span.active {
    background: RGBA(55,85,60,1);
}
.Resistance .masteryBranches span.active > button {
    background: RGBA(0,0,0,0.2);
}
.Resistance .masteryBranches button {
    background: RGBA(55,85,60,0.2);
}
.Resistance .masteryBranches button:hover {
    background: RGBA(55,85,60,0.8)
}
.masteryDetail {
    /* grid-column: 1/3; */
    display: flex;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* .masteryDetail > * {
    align-items: flex-start;
} */
.commentBox {
    /* grid-column: 1/3; */
    display: grid;
    padding: 0.5%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 700px) {
    .main {grid-template-columns: repeat(3, minmax(0, 1fr));}
    .characterSelectionBox {grid-column: 1/3;}
    .masteryContainer {grid-column: 1/3;}
    .masteryTitle {font-size: 1.2em;}
    .masteryBranches {
        display: flex;
        font-size: 1em;
    }
    .skillBlock {
        min-width: 0px;
        flex: 1;
        padding: 0.5%;
    }
    .masteryDetail {
        grid-column: 3/3;
    }
    .commentBox {grid-column: 1/4;}
}